.recipes {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  border: 2px solid #555;
  border-radius: 15px;
}
.recipes:nth-child(even) {
  flex-direction: row-reverse;
  background-color: black;
}
.image {
  object-fit: cover;
  border-radius: 15px;
}
.content {
  padding: 30px;
}
.title {
  font-weight: 700;
  /* margin: 0 auto; */
  /* padding: 10px; */
  /* text-align: center; */
}
.text {
  font-size: 18px;
  color: #999;
}
