.ContactForm form {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.ContactForm label {
  font-weight: bold;
}

.ContactForm input,
.ContactForm textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: var(--size-border-radius);
}

.ContactForm button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--color-primery);
  border: none;
  border-radius: var(--size-border-radius);
  color: var(--color-secondery);
  text-transform: uppercase;
  font-weight: bold;
}
